:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

html,
body,
#root {
  min-height: 100%;
  margin: 0;
}

body {
  min-width: 320px;
}

button,
input,
select,
textarea {
  font: inherit;
}

@media print {
  .no-print {
    display: none !important;
  }
}
